---
layout: page
title: Contacto
permalink: /contacto/
---

<div id="contactwrap"></div>

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
            <h4>¡Unite!</h4>
            <div class="hline" aria-hidden="true"></div>
              {% for line in site.about %}
                <p>{{ line }}</p>
              {% endfor %}
              <p>
                Nos reunimos los viernes en el <a href="https://labi.fi.uba.ar">LABi</a>, un laboratorio abierto en el 1.<sup>er</sup> piso de la sede Paseo Colón de la Facultad de Ingeniería de la Universidad de Buenos Aires.
              </p>
        </div><!-- /col-lg-8 -->

        <div class="col-lg-4">
            <h4>Nuestra dirección</h4>
            <div class="hline" aria-hidden="true"></div>
                <address>
                    {% for line in site.address.first.lines %}
                        {{ line }} <br>
                    {% endfor %}
                    Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </address>
        </div>
    </div><!-- /row -->
</div><!-- /container -->
