<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" class="img-responsive" id="logo"/>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h3><span class="title">Facultad de Ingeniería</span></h3>
                <h3><span class="title">Universidad de Buenos Aires</span></h3>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
