<section id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for project in site.data.projects limit:include.limit %}
                <div class="portfolio-item">
                    <a href="{{ project.website }}" class="portfolio-link">
                        <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="{{ project.title }}">
                        <div class="portfolio-overlay">
                            <h3>{{ project.title }}</h3>
                        </div>
                    </a>
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</section><!--/Portfoliowrap -->
