<div class="col-lg-4">
    <h4>Anuncios recientes</h4>
    <div class="hline"></div>
        <ul class="popular-posts">
            {% for post in site.categories['novedades'] limit:4 %} 
                <li>
                    <p><a href="{{ post.url }}">{% if post.post_title %}{{ post.post_title }}{% else %}{{ post.title }}{% endif %}</a></p>
                    <em>{{ post.date | date: "%b %-d, %Y" }}</em>
                </li>
            {% endfor %} 
        </ul>
    <div class="spacing"></div>
</div>