<div id="blue">
    <div class="container">
        <div class="row">
            {% if page.categories contains 'novedades' %}
                <h3><a href="{{ "/novedades/" | prepend: site.baseurl }}" style="color: inherit; text-decoration: none;">{{ page.title }}</a></h3>
            {% else %}
                <h3>{% if page.wrap_title %}{{ page.wrap_title }}{% else %}{{ page.title }}{% endif %}</h3>
            {% endif %}
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->